<% if blog.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= pluralize(blog.errors.count, "") %> 件のエラー:
      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
   </div>
<% end %>

<%= form_with(model: blog, local: true) do |form| %>
<div class="container">
  <div class="post-form">
    <div class="post-form-backdrop closed"></div>
    <div class="post-section editor-title">
    </div>
    <div class="post-section">
      <div class="post-title">
        <%= form.text_field :title, class:"post-input large", id:"post-title",
          placeholder:'タイトルを入力'
        %>
      </div>
      <div class="post-content">
        <%= form.text_area :content, class:'post-input'%>
      </div>
      <div class="post-content">
        <%= form.text_area :content2, class:'post-input',
          placeholder:'本日のまとめをお願いします。'
        %>
      </div>
    </div>
    <div class="post-section post-media">
      <%= form.file_field :image, id: :image, class:"btn btn-primary" %>
      <%= form.hidden_field :image_cache %>
      <div class="preview"/>
      </div>
    </div>
    <div class="post-section post-buttons">
      <%= form.submit :class=>"btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
