<div class="wrapper clearfix">
    <main class="main">
      <a href="#" class="hot-topic clearfix">
        <img class="image" src="./images/hot-topic.jpg" alt="コーディング画面">
        <div class="content">
          <h3 class="title">実務で使えるHTML/CSS<br>モダンコーディングTIPS</h3>
          <p class="desc">Webフロントエンドの進化の勢いはとどまるところを知りません。新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用して...</p>
          <time class="date" datetime="2015-09-01">2015.09.01 TUE</time>
        </div>
      </a>

      <div class="clearfix">
        <% @blogs.each do |blog| %>
        <%= link_to blog, class: "article-box" do %>
          <h3 class="title"><%= blog.title %></h3>
          <p class="desc"><%= blog.content %></p>
          <p class="desc"><%= blog.user.name%></p>
          <time class="date"><%= l blog.created_at , format: :short %></time>
          <div class="image">
          <% if blog.image.present? %>
            <td><%= image_tag blog.image, :size => "315x210"%></td>
          <% else %>
            <td><%= image_tag 'noimage.png' , :size => "315x210" %></td>
          <% end %>
          </div>
        <% end %>
        <% end %>
      </div>
    </main>

    <div class="sidemenu">
      <h3 class="heading">オススメの投稿</h3>
      <ol class="ranking">
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
      </ol>
      <div class="search">
        <%= search_form_for @search do |f| %>
          <%= f.label :title_cont, 'タイトル' %>
          <%= f.text_field :title_cont %>
          <br />
        <%= f.label :created_at, '作成日' %>
        <%= f.date_select :created_at_gteq, include_blank: true %>〜
        <%= f.date_select :created_at_lteq, include_blank: true %>
        <%= f.label :user, 'ユーザー' %>
        <%= f.text_field :user_name_cont %>
          <div>
            <%= f.submit '検索する' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
