<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <% if blog.user.image.present? %>
          <td><%= image_tag blog.user.image, :size => "48x48" %></td>
        <% end %>
        <td><%= blog.user.name%></td>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td>
          <time datetime="<%= blog.created_at %>">
           <%= time_ago_in_words(blog.created_at) %> 前
          </time>
        </td>
        <% if blog.image.present? %>
          <td><%= image_tag blog.image, :size => "200x150" %></td>
        <% else %>
          <td><%= image_tag 'noimage.png' , :size => "200x150" %></td>
        <% end %>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
