<div class="wrapper clearfix">
    <main class="main">
      <div id="blogs">
      <%= render :partial => "blogs" %>
      </div>
    </main>
    <div class="sidemenu">
      <h3 class="heading">オススメの投稿</h3>
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
        <li class="ranking-item">
          <a href="#">
            <img class="image" src="./images/ranking.jpg" alt="グラフの画像">
            <span class="order"></span>
            <p class="text">HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう</p>
          </a>
        </li>
      </ol>
      <div class="search">
        <%= search_form_for @search do |f| %>
          <%= f.label :title_cont, 'タイトル' %>
          <%= f.text_field :title_cont %>
          <br />
        <%= f.label :created_at, '作成日' %>
        <%= f.date_select :created_at_gteq, include_blank: true %>〜
        <%= f.date_select :created_at_lteq, include_blank: true %>
        <%= f.label :user, 'ユーザー' %>
        <%= f.text_field :user_name_cont %>
          <div>
            <%= f.submit '検索する' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
