<article>
  <div class="contents">
    <ul class="row">
    <% @blogs.each do |blog| %>
    <%= link_to blog_path(blog.id) do %>
      <div class="PhotoBox" class="col-sm-6 col-md-3">
         <% if blog.image.present? %>
           <td><%= image_tag(blog.image_url) if blog.image.present? %></td>
         <% else %>
           <td><%= image_tag 'noimage.png' , :size => "300x250" %></td>
         <% end %>
         <div class="SlideBox">
            <p class="Caption"><%= blog.title %></p>
            <ul class="Caption2">
            <li class="Caption2">name:<%= blog.user.name%></li>
            <li class="Caption2">
              <time datetime="<%= blog.created_at %>">
              <%= l blog.created_at , format: :short %>
              </time>
            </li>
            </ul>
            <% if current_user.present? %>
              <% if blog.user_id == current_user.id %>
              <li class="Caption"><button type="button" class="btn btn-default btn-circle">
                <%= link_to 'del', blog_path(blog.id),method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button></li>
              <li class="Caption"><button type="button" type="button" class="btn btn-warning btn-circle">
                <%= link_to 'Edit', edit_blog_path(blog.id),data: { confirm: '本当に編集していいですか？' } %></button></li>
              <% end %>
            <% end %>
         </div>
      </div>
    <% end %>
    <% end %>
    </ul>
  </div>
</article>

<%= paginate @blogs %>
