<p id="notice"><%= notice %></p>
  <tr>
    <p>名前</p>
    <p><%= @blog.user.name%></p>
    <p>タイトル</p>
    <p><%= @blog.title %></p>
    <p>あらすじ</p>
    <p><%=@blog.content %></p>
    <p>内容</p>
    <p><%=@blog.content2 %></p>
    <p>投稿時間</p>
    <td>
      <time datetime="<%= @blog.created_at %>">
        <%= time_ago_in_words(@blog.created_at) %> ago
      </time>
    </td>
    <p>
      <strong>Image:</strong>
      <%= image_tag @blog.image %>
    </p>
  </tr>

  <div>
    <h4>コメント</h4>
    <div id="comments_area"><!-- #① -->
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/comment', locals: { comments: @comments } %>
    </div>
    <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { blog: @blog, comment: @comment } %>
    <% end %>
  </div>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
