<div class="blog_show">
  <div>
    <h1><%= @blog.title %></h1>
    <%= markdown(@blog.content).html_safe %>
    <%= markdown(@blog.content2).html_safe %>
    <time class="date",  align='right'><%= l @blog.created_at, format: :short%></time>
    <p align:'right'><%= @blog.user.name%>さんの投稿</p>
  </div>
</div>

<div class='blog_show_image'>
  <%= image_tag @blog.image%>
</div>

<div id="comments_area">
  <div>
    <%= render partial: 'comments/comment', locals: { comments: @comments } %>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { blog: @blog, comment: @comment } %>
    <% end %>
  </div>
</div>
