<div class="layerTransparent">
  <div id="form-main">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="email">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class:"login validate[required,custom[email]] feedback-input",
            id:"email", placeholder:"メールアドレス"
          %>
        </div>

        <div class="login password">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off",
            class:"login validate[required,custom[onlyLetter],length[0,100]] feedback-input",
            id:"password", placeholder:"パスワード"
          %>
        </div>

        <div class="login password">
          <%= f.password_field :password_confirmation, autocomplete: "off",
            class:"login validate[required,custom[onlyLetter],length[0,100]] feedback-input",
            id:"password", placeholder:"確認用パスワード"
          %>
        </div>

        <div class="login submit">
          <%= f.submit "サインイン", id:"button-green" %>
          <div class="login ease"></div>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
