
<h1>My page :<%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<p>画像</p>
<p>
  <% if @user.image.present? %>
    <%= image_tag(@user.image_url) %>
  <% else %>
    <%= image_tag 'people.jpeg' %>
  <% end %>
</p>

<p>自己紹介</p>
  <%= @user.introduce %>

<p>経歴</p>
  <%= @user.career %>
