<p class="user_image">
  <% unless @user.image != nil %>
  <%= image_tag(current_user.image) %>
  <% end %>
</p>
<h3><%= @user.name %></h3>
<h2 class="heading">自己紹介</h2>
<%= @user.introduce %>

<h2 class="heading">経歴</h2>
<%= @user.career %>

  <div class="contents">
    <% unless @favorite == nil %>
        <% @favorite.each do |favo| %>
          <div class="tweets">
          <p><%= favo.blog.title %></p>
          </div>
        <% end %>
    <% end %>
    </div>
  </div>

<%= render 'follow_form' %>
<%= render 'stats' %>

<%= link_to "パスワード更新", edit_user_registration_path %>
<%= link_to "ユーザー情報更新", user_profile_user_path %>
