
<h1>My page :<%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<p>画像</p>
<p>
  <%= image_tag(@user.image) %>
</p>

<p>自己紹介</p>
  <%= @user.introduce %>

<p>経歴</p>
  <%= @user.career %>

  <div class="contents">
    <% unless @favorite == nil %>
        <% @favorite.each do |favo| %>
          <div class="tweets">
          <p><%= favo.blog.title %></p>
          </div>
        <% end %>
    <% end %>
    </div>
  </div>
