
<h1>My page :<%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<p>画像</p>
<p>
  <% unless @user.image != nil %>
  <%= image_tag(current_user.image) %>
  <% end %>
</p>

<p>自己紹介</p>
  <%= @user.introduce %>

<p>経歴</p>
  <%= @user.career %>

  <div class="contents">
    <% unless @favorite == nil %>
        <% @favorite.each do |favo| %>
          <div class="tweets">
          <p><%= favo.blog.title %></p>
          </div>
        <% end %>
    <% end %>
    </div>
  </div>

  <%= render 'follow_form' %>
  <%= render 'stats' %>

<%= link_to "パスワード更新", edit_user_registration_path %>
<%= link_to "ユーザー情報更新", user_profile_user_path %>


<% if @user.official_account == true %>
    <%= link_to 'Show', official_accounts_path %>
<% end %>
