<%= form_with(model: official_account, local: true) do |form| %>
  <% if official_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(official_account.errors.count, "error") %> prohibited this official_account from being saved:</h2>

      <ul>
      <% official_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_post">
    <ul>
      <li >
        <%= form.text_field :title, class:'blog_post title',
          placeholder:'タイトルを入力'
        %>
      </li>
      <li >
        <%= form.text_area :content_top, class:'blog_post content',
          placeholder:'今日は何を勉強しましたか？'
        %>
      </li>
      <li>
        <%= form.text_area :content_middle, class:'blog_post content2',
          placeholder:'本日のまとめをお願いします！'
        %>
      </li>
      <li>
        <%= form.file_field :image_top, id: :image_top%>
        <div class="preview"/>
      </li>
        <%= form.submit :class=>"btn", :value=>"投稿する" %>
    </ul>
   <div>
<% end %>
