<p id="notice"><%= notice %></p>

<h2 class="heading">イベント</h2>

<div class="official-wrapper clearfix">
    <main class="official-main">
    <% @official_accounts.each do |official_account| %>
      <%= link_to official_account, class: "hot-topic clearfix" do %>
        <div class="image">
        <% if official_account.image_top.present? %>
          <td><%= image_tag official_account.image_top, :size => "410x300"%></td>
        <% else %>
          <td><%= image_tag 'noimage.png' , :size => "410x300" %></td>
        <% end %>
        </div>
        <div class="content">
          <h3 class="title"><%= official_account.title %></h3>
          <p class="desc"><%= official_account.content_top %></p>
          <time class="date"><%= l official_account.created_at , format: :short %></time>
        </div>
      <% end %>
    <% end %>
    </main>
</div>
