<!DOCTYPE html>
<html>
  <head>
    <title>Escola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <p class="notice"><%= alert %></p>
      </div>
    <% end %>

    <header class="header">
        <%= link_to "", tops_path, class:"logo"%>
      <nav class="global-nav">
        <ul>
          <li class="nav-item">
            <%= link_to '投稿一覧', blogs_path %>
          </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '新規投稿', new_blog_path %>
              </li>
              <li class="nav-item">
                <%= link_to '企業ブログ', official_accounts_path %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user.id) %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
                <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer class="footer">
      <ul class="horizontal-list">
        <li class="horizontal-item"><a href="#">ABOUT ME</a></li>
        <li class="horizontal-item"><a href="#">SITE MAP</a></li>
        <li class="horizontal-item"><a href="#">SNS</a></li>
        <li class="horizontal-item"><a href="#">CONTACT</a></li>
      </ul>
      <p class="copyright">Copyright © 2018 Escola</p>
    </footer>
  </body>
</html>
